<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <div class="tweets">
    <% if @tweets %>
      <% @tweets.each do |tweet| %>
        <p><%= tweet.body %></p>
      <% end %>
    <% else %>
  </div>
    <h4>Loading, please wait</h4>
    <img src="/images/loading.gif">
    <script>
      $(function(){
        $.get("/ajax/<%=@user.handle%>",function(data){
          console.log(data);
          $('img').css('display','none');
          $('.tweets').append(data);
          });
      });
    </script>
  <% end %>
</div>
